.header {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.header > h3, h5 {
  margin: 0;
  padding-top: 20px;
  text-align: center;
}

/* Include any custom CSS styling here! */
.graph-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.graph3-container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-;
}

#explanation {
  max-width: 500px;
}